<a href="https://colab.research.google.com/github/Markohf/CD_Flash_DS/blob/main/C1_Operaciones_b%C3%A1sicas_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print, Strings, Variables, Tipos de datos y Métodos

## Print

In [ ]:
#Función print nos devuelve un texto por pantalla.
print('Hello World!')

Con print podemos imprimir por pantalla cualquier cadena de texto, pero debemos cuidar la sintaxis.

Observemos la diferencia entre estos ejemplos.

In [ ]:
#Imprimir números.
print('23')
print(23)
23

In [ ]:
#Imprmir texto sin comillas ''.
print(Hola)

In [ ]:
#Ahora trataremos de imprimir texto sin usar print.
Hola

In [ ]:
#Imprmir alfanuméricos con texto con comillas.
print('23/MF/$%*Hola')

In [ ]:
#Ahora probaremos hacerlo sin comillas.
print(23/MF/$%*Hola)

Siempre es recomendable seguir buenas practicas por lo que se recomienda siempre usar las comillas en la función print sea que queramos imprimir texto o números.

**Curiosidades**: averigua la diferencia entre usar comillas simples '', dobles "" o triples '''''' al momento de usar print.

## Strings
Las string son un tipo de dato que recibe su nombre por su significado en inglés "cadena". Este tipo de dato es una cadena de texto sea que contenga caracteres de texto o numéricos. Más adelante profundizaremos en los tipos de datos.

## Variables
Las variables nos permiten guardar información que luego podemos usar y manipular.

In [ ]:
text = "Hola, me llamo Juan"
print(text)

## Tipos de datos

Cada lenguaje puede tener diferencias en la forma en la que gestiona, maneja o clasifica sus tipos de datos.

En python existen diversos tipos de datos, pero ahora veremos los 4 más simples:

* String (str)
* Integer (int)
* Float (float)
* Boolean (bool)

**Curiosidades**: En python los tipos de datos son clases. Las clases son estructuras.

In [ ]:
#Usaremos ahora la función type para conocer el tipo de dato de la variable ya creada "text".
type(text)

In [ ]:
#Ahora crearemos diverdad variables y veremos sus tipos.
val1 = 23
val2 = "23"
val3 = 23.0
print(val1)
print(val2)
print(val3)

In [ ]:
print(type(val1))
print(type(val2))
print(type(val3))

In [ ]:
#Boleanos
print(type(True))
print(type("True"))
print(type(False))
print(type("False"))

## Métodos

Los tipos de datos al ser clases tienen métodos asociados.

Para entender mejor qué es un método, debemos entender qué es una clase y para esto deberiamos profundizar en algunos conceptos de la programación que no son parte de este curso. Para fines prácticos, podemos entender a los métodos como funciones que se puede aplicar a nuestros tipos de datos usando una sintaxis distinta.

Siguiente esta línea práctica cada tipo de dato (clase) tendrá métodos especiales que se pueden utilizar.

Aqui algunos ejemplos de métodos para un string.

In [ ]:
#Creamos una variable
lyric = '''Mama, just killed a man
Put a gun against his head, pulled my trigger, now he's dead
Mama, life had just begun
But now I've gone and thrown it all away
Mama, ooh, didn't mean to make you cry
If I'm not back again this time tomorrow
Carry on, carry on as if nothing really matters'''

In [ ]:
print(lyric)

In [ ]:
#Método upper.
print(lyric.upper())

In [ ]:
#Método lower.
print(lyric.lower())