<a href="https://colab.research.google.com/github/Markohf/CD_Flash_DS/blob/main/C3_2_Introducci%C3%B3n_a_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introducción a Numpy

Numpy es una biblioteca de python que nos facilita la tarea de hacer operaciones matemáticas en python.

Aprenderemos a usar algunas funciones de Numpy realizando un ejercicio.

## Ejercicio

Suponga que unos jóvenes de un club de tecnología le piden ayuda para analizar los datos de sus ventas de pasteles. Ellos esperan haber reunido $200.

**Lista de precios**:

El precio los 3 artículos de la venta de pasteles es: 2 USD por un brownie, 1 USD por una galleta y 10 USD por un pastel.

In [ ]:
#Creamos una lista llamada "price" que contiene los precios.
price = [2, 1, 10]
type(price)

**Lista de cantidades**:

El club vende 17 brownies, 40 galletas y 1 pastel.

In [ ]:
#Creamos una lista llamada "quantity_sold" que contiene las cantidades vendidas.
quantity_sold = [17, 40, 1]
type(quantity_sold)

Si tratamos de hallar cuanto se recaudó con la venta haciendo una opración de forma rápida usando estas listas veremos que no podemos.

In [ ]:
resultado = price * quantity_sold
print(resultado)

Ahora haremos hacer lo mismo, pero usando Numpy.

In [ ]:
#Impotamos la libreria
import numpy as np

Numpy trabaja con un tipo de dato llamado `numpy.array` que nos permite hacer operaciones con arreglos de una forma sencilla.

Recordemos que los arreglos son agrupaciones ordenadas de elementos como por ejemplo las listas.

Por esta razón antes de trabajar con las listas debemos convertirlas a `numpy.array`.

In [ ]:
#Convertimos cada lista en un np.array.
price_array = np.array(price)
quantity_sold_array = np.array(quantity_sold)
print(type(price_array))
print(type(quantity_sold_array))

In [ ]:
#vemos que el contenido es el mismo, solo hemos creado 2 nuevos np.array en base a las listas.
print(price_array)
print(quantity_sold_array)

In [ ]:
#Ahora si podemos obtener el ingreso obtenido de cada producto.
income_array = price_array * quantity_sold_array
print(income_array)

In [ ]:
#Para obtener el ingreso total usamos el método suma.
print(income_array.sum())

Ahora vamos a calculas la ganancia de cada item y total quitandole el costo a los ingresos. Para esto crearemos un `np.array` de 0.

In [ ]:
#Creamos un array de 0 con los costos que son 0.25 po brownie, 0.50 por galleta y 5.00 por pastel.
cost_array = np.array([0.25, 0.50, 5.00])

In [ ]:
#Obtenemos el costo total multiplicando el costo unitario por item.
total_cost_array = cost_array * quantity_sold_array
print(total_cost_array)
#Obtenemos la ganancia por item.
profit_array = income_array - total_cost_array
print(profit_array)
#Obtenemos la ganancia total
answer = profit_array.sum()
print(answer)

##Operaciones en un np.array

In [ ]:
#Creamos un np.array.
array1 = np.array([12, 1, 45, 0, 15, 5, 30, 25, 20, 13, 23])

In [ ]:
#Podemos hacer consultas al np.array
array1 > 20

In [ ]:
#Aplicar operaciones a todo el arreglo
array2 = array1 + 1
print(array2)

In [ ]:
#Insertar datos
array3 = np.append(array2, [1, 1, 1])
print(array3)

In [ ]:
#Eliminar datos
array4 = np.delete(array3, -1)
print(array4)