<a href="https://colab.research.google.com/github/Markohf/CD_Flash_DS/blob/main/C6_2_Limpieza_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Limpieza de datos

Como vimos en la clase anterior "C6.1. Renombrar y eliminar columnas" es muy importante, antes de analizar y procesar nuestros datos para generar información de valor, limpiar nuestro dataset.

Ya aprendimos algunas formas de limpieza como limpiar nuestros encabezados y eliminar columnas innecesarias. En esta clase iremos un paso más adelante.

Para esta clase usaremos un dataset muy conocido en el entorno de machine learning llamado "Titanic". Podemos encontrar esta BBDD en Kaggle una plataforma que les servirá mucho como futuros Data Scientist.

La finalidad de esta clase es poder entregar un marco para la limpieza de datos, pero es importante entender que no existe una receta perfecta para hacerlo, ya que esto depende de cada dataset en específico así como tambien la finalidad del análisis y la propia creatividad y habilidad de cada Data Scientist.

##Visualización del dataset

Lo primero es poder visualizar nuestro dataset para entender a que tipo de data nos estamos enfrentando y así decidir que datos o columnas son importantes para nuestro análisis.

In [ ]:
#Importamos pandas.
import pandas as pd
#Cargamos datos directamente de un link.
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQ7Xta6T-hqBFfQTUMNSVdl03z74KlyecepwOK0Y4s_zv0CG6L8NrVP8tlBsnV2tI4W_cHE5NB9cduU/pub?output=csv')
#Dar un vistazo a nuestro dataset.
df.head()

##Remover duplicados

Nuestro dataset puede contener datos duplicados por lo que el importante revisar si existen duplicados y si es así eliminarlos. Tener en cuenta que esto depende de cada dataset ya que podría darse el caso que alguna tabla de datos si acepte por algún motivo datos repetidos.

In [ ]:
#El método duplicated nos devuelve un set de booleanos donde podemos identificar datos duplicados
df.duplicated()

In [ ]:
#La idea es aligerar el trabajo operativo por lo que no sirve de mucho ver uno por uno todo el set de booleanos resultante.
#Usaremos .sum() para ver el total de duplicados.
df.duplicated().sum()

In [ ]:
#Si después de analizar estos duplicados decidimos que debemos borrarlos podemos hacerlo con .drop_duplicates().
df = df.drop_duplicates()
df.duplicated().sum()

##Eliminar columnas

Otra tarea importante que podemos hacer es eliminar columnas inncesarias, ya sea porque no contienen información relevante o por alguna otra razón.

In [ ]:
#En el caso de nuestro dataset podemos ver que la columna Unnamed: 0 es irrelevante.
df.head(3)

In [ ]:
#Procedemos a eliminar dicha columna usando df.drop()
df = df.drop(columns=['Unnamed: 0'])
df.head(3)

##Análisis datos en columnas

In [ ]:
#Con .nunique() podemos entender un poco más la naturaleza de nuestro dataframe así como tambien identificar errores.
df.nunique()

In [ ]:
#Por ejemplo encontramos que en sex aparecen 3 opciones.
df["Sex"].value_counts()

In [ ]:
#Revisamos todas las filas con F.
df[df["Sex"] == "F"]

In [ ]:
#Podemos cambiar un dato usando .at()
df.at[9, 'Sex'] = 'female'
#Revisamos
df['Sex'][9]

In [ ]:
#Podemos cambiar más de un dato usando .replace()
df['Sex'] = df['Sex'].replace('F', 'female')
#Revisamos
df['Sex'].value_counts()

##Corrigiendo tipos de dato

Los tipos de datos son muy importantes ya que determinan las operaciones que podemos hacer con nuestro dataframe y por ende los métodos que podemos usar para procesarlos y obtener información valiosa.

In [ ]:
#Revisamos nuestro dataframe.
df.head()

In [ ]:
#Revisamos los tipos de dato.
df.info()

In [ ]:
#La columna SibSp debería tener dolo datos del tipo int, pero vemos que .info() lo clasifica con object.
df['SibSp'].value_counts()

In [ ]:
#Cambiaremos el dato "one" por 1.
df['SibSp'] = df['SibSp'].replace('one', 1)
df['SibSp'].value_counts()

In [ ]:
#Verificamos si el tipo de dato cambió.
df.info()

In [ ]:
#SibSp sigue siendo de tipo object y esto puede deberse a que los numeros de dicha columna no estén como integers; sino como strings.
df['SibSp'] = df['SibSp'].astype(int)
df.info()

In [ ]:
#Hacemos lo mismo con Age, ya que no puede ser float.
df['Age'] = df['Age'].astype(int)
df.info()

"Age" contiene datos faltantes y estos no pueden ser convertidos por lo que primero debemos tratarlos. Aprenderemos sobre esto más adelante.