<a href="https://colab.research.google.com/github/Markohf/CD_Flash_DS/blob/main/C8_E2_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

In [ ]:
data = "/content/drive/MyDrive/Flashcamp - Data Science/BBDD/titanic.csv"
df = pd.read_csv(data)
df.head()

In [ ]:
df.info()

##1. Muestren la cabecera del dataframe.

In [ ]:
df.columns

##2. ¿Qué porcentaje de las personas sobrevivió?

In [ ]:
rspta2 = sum(df['Survived'] == 1) / len(df['Survived'])
print("Sobrevivió el", round((rspta2 * 100), 2), "% de las personas.")

##3. ¿Cuántos de cada sexo sobrevivieron?

In [ ]:
df.groupby(['Sex'])[['Survived']].sum()

Sobrevivieron 233 mujeres y 109 hombres.

##4. Si considera solo el grupo de pasajeros que pagó menos de $10, ¿cuál sería el porcentaje de este grupo que sobrevivió?

In [ ]:
fil1 = df[df['Fare'] < 10]
rspta4 = sum(fil1['Survived'] == 1) / len(fil1['Survived'])
print("Sobrevivieron el", round((rspta4 * 100), 2), "% de los pasajeros cuyos tickets costaron menos de 10 USD.")

##5. En total, ¿cuál es la edad promedio de los que no sobrevivieron?

In [ ]:
rspta5 = round(df['Age'][df['Survived'] == 0].mean())
print("La edad promedio de los que no sobrevivieron es", rspta5, "años.")

##6. En total, ¿cuál es la edad promedio de los que sobrevivieron?

In [ ]:
rspta6 = round(df['Age'][df['Survived'] == 1].mean())
print("La edad promedio de los que sobrevivieron es", rspta6, "años.")

##7. ¿Cuál es el promedio de edad de los que sobrevivieron y los que no sobrevivieron agrupado por sexo?

In [ ]:
df.groupby(['Sex','Survived'])[['Age']].mean().round()