<a href="https://colab.research.google.com/github/Markohf/CD_Flash_DS/blob/main/C8_E1_Ejercicio_Groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data', header = None)
df.head()

##Parte 1: Renombrar Columnas

* Renombrar columna 0 a “Flow_ID”
* Renombrar columna 1 a “Date”
* Renombrar columna 2 a “Time”
* Renombrar columna 3 a “Count”

In [ ]:
df.columns = ['Flow_ID', 'Date', 'Time', 'Count']
df.info()

##Parte 2: Seleccionar Datos

* Seleccionar todos los datos para la fecha 24 de julio de 2005 con un Flow_Id = 7.
* Con los datos seleccionados en el paso 1, ordenen el resultado en Count en orden descendiente y saquen las 10 primeras filas. Asignen la salida a una variable llamada top 10.

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

In [ ]:
fecha_objetivo = pd.to_datetime('07/24/05')
fil1 = df[df['Date'] == fecha_objetivo]
fil1.head()

In [ ]:
fil1 = fil1.sort_values(by = 'Count', ascending = False)
top10 = fil1.head(10)
top10

##Parte 3: Aplicar función
Para las 10 filas que aparecen arriba, utilice la función Apply de Pandas para restar el valor más bajo de los 10 de todos ellos y luego obtengan el valor promedio de los recuentos resultantes.

In [ ]:
count_min = top10['Count'].min()
print(count_min)

In [ ]:
def form1(x):
    return x - count_min
top10['Count'] = top10['Count'].apply(form1)
top10

In [ ]:
count_mean = top10['Count'].mean()
print(count_mean)

0.6

##Parte 4: Agrupar

* Seleccionar los datos en el mes de agosto 2005 con un flow id = 7.
* Agrupar los datos en función de la fecha y obtener el recuento máximo por fecha.

In [ ]:
df

In [ ]:
fil_ago_05 = df[(df['Date'].dt.month == 8) & (df['Date'].dt.year == 2005) & (df['Flow_ID'] == 7)]
fil_ago_05

In [ ]:
df.groupby('Date')[['Count']].sum()

##Extra

Agrupar por mes y año.

In [ ]:
df['Month-Year'] = df['Date'].dt.strftime('%m-%Y')
df.head()

In [ ]:
df.groupby('Month-Year')[['Count']].sum()